<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=375, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>MES • PICKING</title>
    <link rel="icon" href="../KYLY_logo.png">
    <link rel="stylesheet" href="../../style.css">
</head>
<body class="pnl-pick pnl-step-2">

    <div class="mobile-wrapper">
    <header>
        <a href="javascript:history.back()" class="btn-voltar">&#8592;</a>
        <h1>MES • PICKING</h1>
    </header>

    <main class="centro">
        <span class="passo-label">PASSO 2/2</span>
        <h2>Bipe o crachá do COLABORADOR</h2>
        <input type="text" id="codigoColaborador" class="campo-texto" placeholder="Aguardando leitura do laser...">
        <button class="btn-confirmar" onclick="verificarColaborador()">Confirmar</button>
    </main>

    <script src="../../script.js"></script>

    </div>

</body>
</html>
